.misshaiPageLayout {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin);
    > .misshaiData {
        flex: 3 0 300px;
    }
    > .developerInfo {
        flex: 1 0 300px;
    }
    > .alertModeSetting {
        flex: 1 0 300px;
    }
    > .templateSetting {
        flex: 5 0 300px;
    }
}