include _components
doctype html
html
    head
        meta(charset="UTF-8")
        link(href='https://unpkg.com/sanitize.css' rel='stylesheet')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block meta
        title= title
        link(rel='stylesheet' href='/assets/style.css')
        block style
    body
        .xd-main
            h1 みす廃あらーと
            block content
            footer.xd-footer.xd-container
                a(href="/privacy-policy") プライバシーポリシー
                | ・
                a(href="/terms") 利用規約
                | ・
                a(href="https://github.com/Xeltica/misshaialert") リポジトリ
                p (C)2020 Xeltica - 
                    a(href="/about") version #{version}
                block footer
        block script
        script(defer src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js')


