extends _base

block content
    section
        h2 利用規約
        ul
            li 本サービスは無保証で提供されます。本サービスを利用したことによる損害などについて、管理人は一切責任を負わないものとします。
            li ユーザーはインスタンスの諸規約に従った上で本サービスを使うものとします。インスタンスの規約により、自動投稿が禁止されている場合は本サービスを使用しないでください。
            li 本サービスでは、接続先のアカウントが存在しない、トークンが失効してしまったなどの場合に、自動的にユーザーアカウントを削除します。
            li 本サービスの仕様は、事前の予告無しに変更される可能性があります。
            li 本サービスは、事前の予告無しに突然閉鎖される可能性があります。
            li 本規約は、事前の予告無しに変更される可能性があります。
