extends _base

block content
    section
        h2 ついついノートしすぎていませんか？
        p Misskey は楽しいものです。気がついたら1日中入り浸っていることも多いでしょう。
        p 
            strong みす廃あらーと
            | をあなたの Misskey アカウントにインストールして、今日のあなたの Misskey 活動を把握しましょう。
        form(action="/login", method="get")
            .xd-inputs
                input.xd-input(type="text" placeholder="ホスト名(例: misskey.io)" name="host" required)
                input.xd-button.primary(type="submit", value="ログイン")
        p Misskey 以外のソフトウェアには対応していません。マストドンユーザーは
            a(href="https://donhaialert.herokuapp.com/" target="_blank" rel="noopener noreferrer") ドン廃あらーと
            | をお使いください。

    section
        .xd-cards.center
            .xd-card
                .header
                    h1.title
                        i.fas.fa-info-circle
                        |  情報
                .body
                    dl
                        dt
                            i.fas.fa-users
                            |  登録者数
                        dd !{usersCount} 人
                        dt
                            i.fas.fa-comment
                            |  累計ノート数
                        dd 0 ノート
            .xd-card
                .header
                    h1.title
                        i.fas.fa-phone-alt
                        |  開発者
                .body
                    p 何か困ったことがあったら、以下のアカウントにメッセージを送ってください。
                    ul
                        li: a(href="https://misskey.io/@ebi") @ebi@misskey.io
                        li: a(href="https://groundpolis.app/@X") @X@groundpolis.app
                        li: a(href="https://twitter.com/Xeltica") @Xeltica@twitter.com
                        li: a(href="mailto:xeltica@gmail.com") xeltica@gmail.com
            .xd-card
                .header
                    h1.title
                        i.fas.fa-hashtag
                        |  タイムライン
                .body
                    p 準備中。
