@font-face {
  font-family: "OTADESIGN Rounded";
  src: url("/fonts/otadesign_rounded.woff2") format('woff2'),
       url("/fonts/otadesign_rounded.woff") format('woff');
}

@font-face {
  font-family: "Koruri";
  src: url("./fonts/koruri-regular.eot");
  src: url("./fonts/koruri-regular.eot?#iefix") format("embedded-opentype"),
  url("./fonts/koruri-regular.woff") format("woff"),
  url("./fonts/koruri-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Koruri";
  src: url("./fonts/koruri-semibold.eot");
  src: url("./fonts/koruri-semibold.eot?#iefix") format("embedded-opentype"),
  url("./fonts/koruri-semibold.woff") format("woff"),
  url("./fonts/koruri-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Koruri";
  src: url("./fonts/koruri-bold.eot");
  src: url("./fonts/koruri-bold.eot?#iefix") format("embedded-opentype"),
  url("./fonts/koruri-bold.woff") format("woff"),
  url("./fonts/koruri-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.cat {
    &:before, &:after {
        background: #df548f;
        border: solid 4px currentColor;
        box-sizing: border-box;
        content: '';
        display: inline-block;
        height: 50%;
        width: 50%;
    }
    &:before {
        border-radius: 0 75% 75%;
        transform: rotate(37.5deg) skew(30deg);
    }
    &:after {
        border-radius: 75% 0 75% 75%;
        transform: rotate(-37.5deg) skew(-30deg);
    }
    &.animated:hover {
        &:before {
            animation: earwiggleleft 1s infinite;
        }
        &:after {
            animation: earwiggleright 1s infinite;
        }
    }
}

.emoji {
    height: 1em;
    width: 1em;
    vertical-align: -0.1em;
}
