.misshaiPageLayout {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin);
    > .misshaiData {
        flex: 1 0 300px;
    }
    > .misshaiRanking {
        flex: 4 0 300px;
    }
    > .alertModeSetting {
        flex: 1 0 300px;
    }
    > .templateSetting {
        flex: 5 0 300px;
    }
}

.textarea-wrapper {
    position: relative;
    > .textarea-remaining {
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}