@font-face {
  font-family: "OTADESIGN Rounded";
  src: url("/assets/otadesign_rounded.woff2") format('woff2'),
       url("/assets/otadesign_rounded.woff") format('woff');
}

.font-misskey {
  font-family: "OTADESIGN Rounded";
}

.loading {
  display: flex;
  position: fixed;
  inset: 0;
  background: #222;
  color: #fff;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}